<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile" version="0.17.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.17.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.17.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Fingerprint" version="1.4.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.18342" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.Pages" version="2.4.0.18342" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="portable45-net45+win8+wpa81" />
</packages>